language: android
dist: trusty
sudo: required

group: edge

android:
  components:
    - tools
    - platform-tools
    - build-tools-27.0.3
    - android-27
    - extra-android-support
    - extra-android-m2repository
jdk:
  - oraclejdk8
env:
  global:
    - TERM=dumb
before_script:
  - export DATE=$(date)
  - export VERSION=$(date --date="$DATE" +'%Y%m%d%H%M%S')
script:
  - ./gradlew clean assembleDebug testDebug 
after_success:
  - curl -sSL "https://raw.githubusercontent.com/h5bp-bot/scripts/0.6.1/update_site_branch.sh" |
         bash -s -- --commands "true"
                    --commit-message "Build generated on $DATE by Travis [ci skip]"
                    --directory "build"
                    --distribution-branch "build"
                    --source-branch "dev"
