@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/midnight.css";

body {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.CodeMirror {
    height: 100%;
    width: 100%;
}
#editor {
    display: none;
}
