html, body, table, tr, td, pre {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  overflow: scroll;
}
table {
  border-spacing: 0;
  width:100%;
}
pre {
  margin: 0;
  padding: 0;
  line-height: 15px;
}
.codes {
  padding-left: 10px;
}
.line_numbers {
  text-align: right;
  padding: 0 5px;
}
.line_number_td {
  background: #f7f7f7;
}

